<div class="container">
  <br>
  <div class="row justify-content-center" >
    <img src="../../assets/github.png" alt="github" class="img-github">
    <h1>Pesquise o repositório:</h1>
  </div>
  <br>
  <form [formGroup]="form" class="search-group" (ngSubmit)="onSubmit($event)">
    <div class="input-group mb-3">
      <input type="text"
            formControlName="search"
            class="form-control form-control-lg"
            name="search"
            id="search"
            placeholder="Busque um repositório. Ex.: mojombo/god"
            >
          <div class="input-group-append">
        <button class="btn btn-outline-primary btn-lg" type="submit">Pesquisar</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div *ngFor="let repositorio of lista" class="card col-lg-4" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ repositorio.full_name }}</h5>
        <p class="card-text"> {{ repositorio.description }}</p>
          <button class=" col text-center btn btn-primary btn-lg" (click)="detalhes(repositorio)">Detalhes</button>
      </div>
    </div>

  </div>

</div>
