<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button type="button" class="btn btn-primary btn-lg">Contributors</button>
    <button type="button" class="btn btn-primary btn-lg">Issues</button>
  </form>
</nav>
<ul *ngFor="let contributors of lista"  class="list-group">
  <li class="list-group-item">{{ contributors.login }}</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
